---
extends: default

rules:
  document-start: disable
  line-length:
    max: 999
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  key-duplicates: enable
  indentation:
    level: error
    indent-sequences: consistent
  truthy:
    allowed-values: ['true', 'false', 'on']

ignore: |
  .tox
